html{
	height:100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.mobile-menu-open {
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
  &.no-scroll {
    overflow: visible;
  }
}
body{
	margin:0;
	padding:0;
	height:100%;
	color:#000;
  font:14px/16px 'SFProText', Helvetica, Arial, san-serif;
	background:$white;
	min-width:320px;
}
img{
	border-style:none;
	vertical-align:top;
	image-rendering: crisp-edges;
}
a{
	transition:all .4s ease;
	color:$black;
	outline:none;
	text-decoration:underline;
	&:hover{
		text-decoration:none;
	}
}
*{
  outline:none;
  box-sizing: border-box;
}
fieldset{
	margin:0;
	padding:0;
	border:none;
	min-height:1px;
}
main,
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog{
	display:block;
}
input::-ms-clear {display: none;}
input[type="submit"],
input[type="reset"]{
	cursor:pointer;
}
textarea,
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea{
	appearance:none;
}

#__nuxt,
#__layout,
#app,
.el-container {
  width: 100%;
  height: 100%;
}
#app {
  position:relative;
	overflow:hidden;
	width:100%;
	min-height:100%;
	display:flex;
  flex-direction:column;
  height: auto;
}

form {
  max-width: 100%;
  display: block;
  overflow-x: hidden;
}

.el-main {
  padding: 0;
  // display: flex;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.point {
  display: inline-block;
  border-radius: 50%;
  background: $yellow;
  color: $white;
  font-size: 12px;
  line-height: 1;
  padding: 4px;
  vertical-align: middle;
}
i {
  color: $grayDark;
  font-style: normal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 40px;
  color: $black;
  @include breakpoint($mobile-small) {
    font-size: 30px;
  };
}
h2 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 18px;
  color: $black;
}
h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: $black;
  margin: 0 0 20px;
}
h4 {
  font-size: 16px;
  line-height: 1.2;
  color: $black;
  margin: 0 0 10px;
  &.margin {
    margin: 0 0 25px;
  }
}
h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: $black;
  margin: 0 0 14px;
}

.main-container {
  display: flex;
  .content {
    width: 100%;
    padding-top: 30px;
    padding: 30px 40px;
    &.small {
      max-width: 700px;
    }
  }
  &.chat {
    height: calc(100vh - 60px);
    position: relative;
    // overflow: auto;
    overflow: hidden;
  }
  @include breakpoint($large) {
    display: block;
    .content {
      &.small {
        max-width: 100%;
      }
    }
    &.chat {
      padding-top: 56px;
      height: calc(100vh + 94px);
    }
  };
  @include breakpoint($mobile) {
    .content {
      padding: 15px 15px;
    }
  };
}

.link-blue {
  color: $blue;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  transition: all .35s ease 0s;
  i {
    display: inline-block;
    vertical-align: middle;
    color: $blue;
    transition: all .35s ease 0s;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
  }
  &.margin {
    margin-bottom: 40px;
  }
  &.margin-small {
    margin-bottom: 30px;
  }
  &:hover {
    color: $blueLight;
    i {
      color: $blueLight;
    }
  }
}

.el-table th>.cell {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
}
.el-table .cell {
  line-height: 1;
  font-size: 14px;
}

.set-box {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 70px;
  }
}

.badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1;
  color: $white;
  background: #F26B22;
  border-radius: 12px;
  padding: 4px 7px;
}

.el-row--flex.wrap {
  flex-wrap: wrap;
}

.el-icon-search:before {
  content: '\e910';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  display: inline-block;
  text-decoration: none;
  color:#3E3F42;
  transition: all .35s ease 0s;
  i{
    color: #3E3F42;
    transition: all .35s ease 0s;
  }
  &:after {
    display: none;
  }
  &:hover {
    color: $blueLight;
    i {
      color: $blueLight;
    }
  }
}