.task-add-content {
  display: flex;
  .upload-box {
    width: 180px;
    min-height: 118px;
    flex: 0 0 180px;
    margin-right: 23px;
  }
  .box {
    flex: 1 1 auto;
  }
}
.uploader__text-style {
  background: $sidebarColor;
  border-radius: $radius;
  .el-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__text {
      display: block;
      .text {
        display: block;
        margin: 0 0 10px;
        font-size: 14px;
        color: $black;
      }
    }
  }
}