.el-tabs__item.is-active {
  color: $blueLight;
  i {
    color: $blueLight;
  }
}
.el-tabs__item .label {
  display: flex;
  align-items: center;
  i {
    margin-right: 10px;
    font-size: 20px;
  }
}
.el-tabs__active-bar {
  background: $blueLight;
  height: 3px;
}
.el-tabs__nav-wrap::after {
 background: $grayLight; 
}
.el-tabs__header {
  margin: 0 0 30px;
}